:root{
    --green: #3A432D;
    --yellow: #D5A021;
    --text-black: #0E0C0C;
    --icons-gray: #EAE8E9;
}


#root {
    display: flex;
    align-items: center;
    justify-content: center;
}
.App {
    color: var(--text-black);
    max-width: 400px;
    font-family: 'Tinos', serif;
    font-size: 16px;
}
 
/* -------------SIGN UP & LOG IN---------------------- */
.signup-page, .login-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('./images/good-backgroundhomepage.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

.signup-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signup-card{
    border: none;
    box-shadow: 0px 1px 1px #D7DCE1, 4px 4px 30px #D9D9D9;
}

.auth-input{
    border-radius: 10px;
    border: none;
    box-shadow: 0px 1px 1px #D7DCE1, 4px 4px 30px #D9D9D9;
}

.signup-card form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    height: 400px;
}

.home-page, .liked-wines, .profile{
    width: 100%;
    background-image: url("./images/good-backgroundhomepage.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 100px;
    min-height: 100vh;
}

/* ---------NAV BAR------------ */
.nav-bar{
    width: 400px;
    height: 82px;
    background-color: var(--green);
    position: fixed;
    bottom: 0;
    z-index: 9999; /* this ensures that the navbar is always on top */
}

.nav-bar a{
    color: var(--icons-gray);
    text-decoration: none;
}

.nav-bar p{
    font-family: 'Inter';
    font-size: 10px;
}

.nav-icons, .flavour-img{
    width: 40px;
}

.camera-button{
    background-color: #fff;
    border-radius: 999px;
    margin-bottom: 55px;
    border: 4px solid var(--green);
}

.camera-button img{
    width: 35px;
}

.vinify{
    font-family: 'Tinos';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 34px;
}

.user-profile-picture{
    border-radius: 999px;
    width: 38px;
    border: 1px solid #D7DCE1;
    box-shadow: 0px 1px 1px #D7DCE1, 4px 4px 30px #D9D9D9;
}

.welcome-text{
    font-family: 'Inter';
    color: var(--green);
    font-weight: 700;
}

.search-input{
    width: 341px;
    height: 40px;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 1px 1px #D7DCE1, 4px 4px 30px #D9D9D9;
}

.search-btn{
    border: none;
    background-color: #ffffff;
    box-shadow: 0px 1px 1px #D7DCE1, 4px 4px 30px #D9D9D9;
}

.kind-filter{
    display: flex;
    overflow-x: scroll;
    max-width: 400px;
}

.wine-kind-filter img{
    width: 130px;
    height: 50px;
    padding: 0px 4px;
}

.magnifier{
    width: 25px;
}

.settings-icon{
    width: 45px;
}


.recommendation-card{
   width: 293px;
   height: 222px;
   box-shadow: 0px 1px 1px #D7DCE1, 4px 4px 30px #D9D9D9;
   border-radius: 20px; 
   border: none;
   background-image: url('../src/images/recommBack.png');
   background-repeat: no-repeat;
   background-size: 95%;
   background-position: bottom;
}

.wine-reccom-img{
    position: absolute;
    width: 92px;
    height: 283.53px;
    left: 19px;
    top: -84px;
}

.wine-reccom-text{
    margin-left: 110px;
}


/* food paring search cards */

.australia{
    background-image: url('./images/Countries/Autraliapng.png');
    background-size: cover;
}

.france{
    background-image: url('./images/Countries/Francepng.png');
    background-size: cover;
}

.portugal{
    background-image: url('./images/Countries/Portugalpng.png');
    background-size: cover;
}

.spain{
    background-image: url('./images/Countries/Spainpng.png');
    background-size: cover;
}

.italy{
    background-image: url('./images/Countries/Italypng.png');
    background-size: cover;
}


/* {---------SEARCH RESULTS PAGE---------------} */

.search-results-page, .wine-detail {
    background-image: url('./images/Background\ whitepng.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 100px;
    min-height: 100vh;

}

.search-results-page h1 {
    font-family: "Inter";
    font-size: 20px;
}

.detail-filter-icon{
    width: 60px;
    height: 75px;
    background-size: cover;
    background-position: center;
    border: none;
    border-radius: 3px;
    box-shadow: 0px 1px 1px #D7DCE1, 4px 4px 30px #D9D9D9;
}

.detail-filter-icon img{
    height: 80px;
}

.sort-arrow{
    width: 17px;
}

.flavour{
    font-size: 12px;
    font-family: "Inter";
    color: var(--green);
}

.wine-stats img {
    width: 400px;
}


/* --------header with back icon--------- */
.top-bar-back{
    font-size: 20px;
    font-weight: 600;
    font-family: "Inter";
}
.back-icon{
    position: absolute;
    width: 20px;
    padding-top: 4px;
}
.top-text{
    position: relative;
}
/* -------------------------------- */

.price-range{
    font-family: "Inter";
}


.small-wine-card{
    width: 150px;
    height: 214px;
    border: none;
    box-shadow: 0px 1px 1px #D7DCE1, 4px 4px 30px #D9D9D9;
    border-radius: 8px;
    flex-shrink: 0;
    resize: both;
    overflow: hidden;
} 

.small-wine-card-img{
    height: 170px;
    width: 55px;
}

.small-wine-card p{
    font-size: 14px;
}

.small-wine-card a{
    text-decoration: none;
    color: var(--text-black);
}

.small-card-name{
    font-size: 20px;
    white-space: wrap;
}

.wineCardBookmark{
    width: 45px;
}


.wine-info-card{
    border: none;
    border-radius: 10px;
    box-shadow: 0px 1px 1px #D7DCE1, 4px 4px 30px #D9D9D9;
    margin: 0px 15px;
}

.wine-info-card span{
    font-weight: 700;
}

.profile-picture{
    width: 130px;
    height: 130px;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0px 1px 1px #D7DCE1, 4px 4px 30px #D9D9D9;
    flex-shrink: 0;

}

.profile-picture img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    flex-shrink: 0;

}

.profile-picture-small {
    width: 35px;
    height: 35px;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0px 1px 1px #D7DCE1, 4px 4px 30px #D9D9D9;
}
.profile-picture-small img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.profile-content{
    height: 65vh;
}

.green-button{
    color: white;
    background-color: var(--green);
}

.green-button:hover{
    color: var(--green);
    background-color: white;
    border: 1px solid var(--green);
}

.white-button{
    color: var(--green);
    background-color: white;
    border: 1px solid var(--green);
}

.white-button:hover{
    color: white;
    background-color: var(--green);
}


/* -----------Support Styling ------------- */
.support {
    background-image: url('./images/Background\ whitepng.png');
    height:100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.history {
    /* display: flex; */
    overflow: auto;
    max-width: 400px;
    /* padding: 0; */
}
  
.history li {
    list-style-type: none;
    cursor: pointer;
    width: 100px;
    white-space: nowrap; /* Prevents text from wrapping */
    overflow: hidden; /* Hides any overflowing content */
    text-overflow: ellipsis;
    flex-shrink: 0;
    background-color: white;
    border: 1px solid var(--green);
    color: var(--green);
}

.history li:hover{
    background-color: var(--green);
    border: 1px solid white;
    color: white;
}


.feed {
    margin: 0;
    padding: 0;
    overflow: auto;
    background: none;
    border: none;
    border-radius: 3px;
    box-shadow: 0px 1px 1px #D7DCE1, 4px 4px 30px #D9D9D9;
}

.feed li {
    list-style-type: none;
    box-shadow: 0px 1px 1px #D7DCE1, 4px 4px 30px #D9D9D9;
    border-radius: 3px;
}

.question{
    margin: 10px 10px 10px 80px;
}

.answer{
    margin: 10px 80px 10px 10px;
}

.small-wine-image{
    height: 170px;
    width: 55px;
}

.veg{
    width: 115px;
    margin-left: 20px;
}